<html>
    <head>
        <title>login</title>
    </head>
    <body>
    <div class="form">
        <form id="loginForm" action="/login" method="POST">
            {% raw xsrf_form_html() %}
            <div class="inptr">
                用户名:<input type="text" id="uid" name="username" class="inpUser inped" value="">
                <input type="hidden" name="nodetect" value="false">
            </div>
            <div class="inptr">
                密码:<input type="password" id="password" name="password" class="inpPW" autocomplete="off" value="">
            </div>
            <div class="inpB">
                <div>
                    <button name="action:login" type="submit" class="Button" id="login_button">登录</button>
                </div>
            </div>
        </form>
    </div>
    </body>
</html>
